<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f766e;">
    <div class="container">
        <a class="navbar-brand fw-bold" href="https://pls-c.github.io/English-Quiz/TOEFL_ITP_Section2-Structure/">
            <i class="ph-bold ph-book-open-text me-1"></i> PLS-C Learning
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://pls-c.github.io/English-Quiz/TOEFL_ITP_Section2-Structure/">บทเรียน (Lessons)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://pls-c.github.io/English-Quiz/TOEFL_ITP_Section2-Structure/">แบบทดสอบ (Quizzes)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>